/* FONTS */
@font-face {
  font-family: 'Obcecada Sans';
  src: url('../fonts/Obcecada-Sans.eot');
  src: url('../fonts/Obcecada-Sans.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Obcecada-Sans.woff2') format('woff2'),
      url('../fonts/Obcecada-Sans.woff') format('woff'),
      url('../fonts/Obcecada-Sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Text';
  src: url('../fonts/BrandonText-Bold.eot');
  src: url('../fonts/BrandonText-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BrandonText-Bold.woff2') format('woff2'),
      url('../fonts/BrandonText-Bold.woff') format('woff'),
      url('../fonts/BrandonText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNext-DemiBold.eot');
  src: url('../fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AvenirNext-DemiBold.woff2') format('woff2'),
      url('../fonts/AvenirNext-DemiBold.woff') format('woff'),
      url('../fonts/AvenirNext-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/AvenirLTStd-Roman.eot');
  src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
      url('../fonts/AvenirLTStd-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNext-Regular.eot');
  src: url('../fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AvenirNext-Regular.woff2') format('woff2'),
      url('../fonts/AvenirNext-Regular.woff') format('woff'),
      url('../fonts/AvenirNext-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNextLTPro-Cn';
  src: url('../fonts/AvenirNextLTPro-Cn.eot');
  src: url('../fonts/AvenirNextLTPro-Cn.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AvenirNextLTPro-Cn.woff2') format('woff2'),
      url('../fonts/AvenirNextLTPro-Cn.woff') format('woff'),
      url('../fonts/AvenirNextLTPro-Cn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('../fonts/Mada-Bold.eot');
  src: url('../fonts/Mada-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Mada-Bold.woff2') format('woff2'),
      url('../fonts/Mada-Bold.woff') format('woff'),
      url('../fonts/Mada-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html, body, div, p {
  color: #251C16;
}

body {
  padding-bottom: 2rem;
}

.h1 {
  font-family: 'Obcecada Sans', sans-serif;
  font-size: 200px;
  line-height: 180px;
  text-align: center;
}

.h2 {
  font-family: 'Brandon Text', sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: -1.5px;
  text-align: center;
}

.h3 {
  font-family: 'AvenirNextLTPro-Bold', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  color: #251C16;
}

.container {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
}

.bg-pink {
  background: #CF909B;
}

.bg-light-green {
  background: #85D3C4;
}

.text-pink {
  color: #CF909B;
}

/* Pattern Bars */
.rubic-pattern {
  height: 30px;
  overflow: hidden;
  background-image: url('/img/header-pattern.jpg');
  background-size: 400px;
  background-position: center top;
    background-repeat: repeat;
  /* background-attachment: fixed; */
  animation: animatedBackground 20s linear infinite alternate;
}

.rubic-pattern.navbar-pattern {
  background-position: 30px;
  border-radius: 0 0 30px 30px;
  margin-bottom: 50px;
}

.rubic-pattern.top {
  border-radius: 30px 30px 0 0;
}

.rubic-pattern.bottom {
  border-radius: 0 0 30px 30px;
}

html .load-hidden {
  visibility: hidden;
}

.hide {
  display: none;
}

/* Pages */
#homepage,
#contact,
#menu {
  background: #FFFDF5;
}

#delivery {
  background: #ECD684;
}

.contact-page {
  background: #CF909B;
}

/* Navigation */
header nav .menu-item {
  width: 159px;
  background: #76685E;
  font-family: 'AvenirNext', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 62px;
  text-align: center;
  color: #F8EABF;
  border-radius: 30px;
  transition: all .3s ease-in-out;
}

#contact header nav .menu-item {
  background: #FFFDF5;
  color: #251C16;
}

#contact header nav .menu-item:hover,
header nav .menu-item:hover {
  color: #251C16;
  background: #ecd684;
}

header nav .menu-logo {
  margin: 0 50px;
  width: 190px;
}

/* Carousel */
.swiper-container-css-mode>.swiper-wrapper.overflow-hidden {
  overflow: hidden;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 25px;
}

.swiper-button-next:after, .swiper-button-prev:after,
.swiper-button-next:after, .swiper-button-prev:after {
  color: #FFFDF5;
}

.swiper-pagination-bullet {
  width: 26px;
  height: 26px;
  background: transparent;
  border: 4px solid #FFFDF5;
  opacity: 1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #FFFDF5;
}

/* Homepage */
.hero-custom-carousel {
  max-width: 950px;
  height: 524px;
  overflow: hidden;
  border-radius: 30px;
}

.after-title-section-content {
  font-family: 'Brandon Text', sans-serif;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.5px;
  text-align: center;
  padding: 68px;
  background: #85D3C4;
}

/* Delivery */
#delivery header nav .menu-item {
  background: #FFFDF5;
  color: #251C16;
}

#delivery header nav .menu-item:hover {
  background: #85D3C4;
}

.single-location {
  max-width: 260px;
}

.delivery-btn {
  background: #FFFDF5;
  border-radius: 30px;
  height: 62px;
  cursor: pointer;
}

/* Menu */
.category-title {
  font-family: 'AvenirNextLTPro-Bold', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color:#F8EABF;
}

.category-title.active {
  color: #251C16;
}

.single-product {
  margin-bottom: 183px;
}

.single-product:nth-child(even) {
  padding-left: 7.5%;
}

.single-product:nth-child(odd) {
  padding-right: 7.5%;
}

.single-product img {
  border-radius: 30px;
  overflow: hidden;
}

.single-product .product-title,
.single-product .product-price {
  font-family: 'BrandonText-Bold', sans-serif;
  font-size: 56px;
  font-weight: bold;
  letter-spacing: -1.4px;
  line-height: 56px;
  color: #251C16;
  margin-top: 22px;
}

.single-product .product-description {
  font-family: 'AvenirNext-Regular', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #483B33;
}

.single-product .product-price {
  margin-top: 0;
  text-align: right;
  color: #85D3C4;
}

/* Contact */
.single-information {
  max-width: 260px;
  width: 100%;
}

.info-title {
  background: rgb(70, 62, 55);
  height: 150px;
  font-family: 'AvenirNext', sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding: 0 10%;
  color: rgb(229,	213, 136);
}

.info-content {
  font-size: 18px;
  font-family: 'AvenirNext', sans-serif;
  line-height: 25px;
  color: #FFFDF5;
  margin-top: 36px;
  white-space: pre-line;
}

.info-content p {
  color: #FFFDF5;
}

.info-content p a {
  color: #251C16;
  text-decoration: underline;
}

.info-content.content-column-1 p br,
.info-content.content-column-5 p br {
  display: none;
}

/* Instagram Feed */
.instagram-feed {
  margin-bottom: 53px;
}

.instagram-title {
  color: #CF909B;
}

.instagram-item {
  width: calc(33.33% - 47px);
  margin-bottom: 70px;
}

/* Delivery */
.black-btn {
  width: 412px;
  background: #251C16;
  font-family: 'AvenirNextLTPro-Cn', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */
footer.site-footer {
  background: #ECD684;
  border-radius: 30px;
}

#delivery footer.site-footer  {
  background: rgb(244,	233,	192);
}

footer .footer-content {
  padding: 106px 69px 30px 69px;
}

footer .footer-logo {
  max-width: 265px;
  width: 100%;
}

footer .footer-title {
  font-family: 'AvenirNext', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #251C16;
  line-height: 48px;
}

footer .footer-body {
  font-family: 'AvenirNext', sans-serif;
  font-weight: normal;
  font-size: 24px;
  padding-right: 20px;
}

footer .footer-info {
  line-height: 48px;
}


/* Animations */
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}
