<footer class="site-footer container">
  <div class="rubic-pattern top"></div>
  <div class="footer-content flex items-center">
    <div class="footer-logo">
      <img src="{{ '/img/footer-logo.svg' | absolute_url }}" alt="waf waf logo 2">
    </div>
    <div class="flex justify-end items-start w-full">
      <div class="w-1/4">
        <div class="footer-title">WafWaf</div>
        <div class="footer-body footer-info">
          <div><a href="mailto:info@waf-waf.cz">info@waf-waf.cz</a></div>
          <div><a href="tel:+320725344097">+320 725 344 097</a></div>
          <div><a href="/">www.waf-waf.cz</a></div>
        </div>
      </div>
      <div class="w-1/3">
        <div class="footer-title">Sleduj nás!</div>
        <div class="footer-body">
          <div>Ochutnejte naše novinky hned, jak je pro vás připravíme.</div>
        </div>
      </div>
      <div class="w-1/3">
        <div class="footer-title">Spoj se s námi!</div>
        <div class="footer-body">
          <div>Přidejte se k nám a mějte nejnovější novinky jako první na dosah!</div>
        </div>
      </div>
    </div>
  </div>
  <div class="rubic-pattern bottom"></div>
</footer>
<!-- Javascript -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{{ "/js/main.js" | absolute_url }}" type="text/javascript"></script>
</body>
</html>
