<div class="container instagram-feed  px-6 sm:px-0">
  <h2 class="h2 text-center instagram-title w-full reveal">Sledujte nás na Instagramu</h2>
  <div class="flex flex-wrap justify-between mt-16">
    <div class="instagram-item reveal">
      <img src="/img/instagram1.png" width="100%">
    </div>
    <div class="instagram-item reveal">
      <img src="/img/instagram2.png" width="100%">
    </div>
    <div class="instagram-item reveal">
      <img src="/img/instagram3.png" width="100%">
    </div>
    <div class="instagram-item reveal">
      <img src="/img/instagram4.png" width="100%">
    </div>
    <div class="instagram-item reveal">
      <img src="/img/instagram5.png" width="100%">
    </div>
    <div class="instagram-item reveal">
      <img src="/img/instagram6.png" width="100%">
    </div>
  </div>
</div>
