<div class="container instagram-feed px-6 sm:px-0">
  <h2 class="h2 text-center instagram-title w-full reveal">Sledujte nás na Instagramu</h2>
  <div class="flex flex-wrap justify-between mt-16">
    <div class="instagram-item reveal-delay-200">
      <img src="/img/temp-instagram1.jpg" width="100%">
    </div>
    <div class="instagram-item reveal-delay-300">
      <img src="/img/temp-instagram2.jpg" width="100%">
    </div>
    <div class="instagram-item reveal-delay-400">
      <img src="/img/temp-instagram3.jpg" width="100%">
    </div>
    <div class="instagram-item reveal-delay-500">
      <img src="/img/temp-instagram4.jpg" width="100%">
    </div>
    <div class="instagram-item reveal-delay-600">
      <img src="/img/temp-instagram5.jpg" width="100%">
    </div>
    <div class="instagram-item reveal-delay-700">
      <img src="/img/temp-instagram6.jpg" width="100%">
    </div>
  </div>
</div>
