{% assign url = page.url | remove:'index.html' %}
<header class="site-header">
    {% if current_page == 'contact' %}
      <div>
    {% else %}
      <div div class="container">
    {% endif %}
      <div class="rubic-pattern navbar-pattern"></div>
      <div class="mobile-nav md:hidden flex justify-between items-center">
        <a href="/" class="menu-logo">
          {% if current_page == 'contact' or current_page == 'jobs' or current_page == 'franchising' or current_page == 'about' %}
            <img src="/img/Waf-Waf-white.svg" alt="Waf Waf - crepes & waffles" width="192">
          {% else %}
            <img src="/img/Waf-Waf-logo.svg" alt="Waf Waf - crepes & waffles" width="192">
          {% endif %}
        </a>
        <div class="hamburger" id="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
      </div>

      <nav class="main-nav flex justify-between items-center">
        <a href="/" class="menu-item">
          Home
        </a>
        <a href="/about" class="menu-item">
          Naše pobočky
        </a>
        <a href="/menu" class="menu-item">
          Menu
        </a>
        <a href="/franchising" class="menu-item">
          Franchise
        </a>

        <a href="/" class="menu-logo">
          {% if current_page == 'contact' or current_page == 'jobs' or current_page == 'franchising' or current_page == 'about' %}
            <img src="/img/Waf-Waf-white.svg" alt="Waf Waf - crepes & waffles" width="192">
          {% else %}
            <img src="/img/Waf-Waf-logo.svg" alt="Waf Waf - crepes & waffles" width="192">
          {% endif %}
        </a>

        <a href="/about" class="menu-item">
          Náš příběh
        </a>
        <a href="/contact" class="menu-item">
          Kontakty
        </a>
        <a href="/jobs" class="menu-item">
          Přidej se k nám
        </a>
        <a href="/delivery" class="menu-item">
          Rozvoz
        </a>
      </nav>
  </div>
</header>
