{% assign current_page = 'about' %}
{% assign page_title = 'Náš příběh' %}

{% include head.html %}

{% include nav.html %}

<div class="container pt-16 pb-24">
  <div class="mx-auto hero-custom-carousel flex items-center justify-center">
    <div class="overflow-hidden">
      <img src="{{ page.hero_image }}" alt="wafwaf hero" width="100%">
    </div>
  </div>
  <h1 class="h1 mt-12 mb-16 text-green">{{ page.big_title }}</h1>
  <div class="">
    <div class="rubic-pattern top"></div>
    <div class="flex flex-wrap justify-between bg-brown py-10 px-24">
      {% for p in page.proccess %}
      <div class="w-1/5 relative proccess-item proccess-item-{{ forloop.index }}">
        <div class="proccess-icon-{{ forloop.index }}">
          <div class="rubic-pattern top"></div>
          <div class="bg-green relative z-0 flex items-center justify-center py-4">
            <img src="{{ p.image }}" alt="{{ p.name }}">
          </div>
          <div class="rubic-pattern bottom"></div>
        </div>
        <div class="flex items-start mt-16">
          <div class="proccess-item-index">{{ forloop.index }}</div>
          <h3 class="h3">{{ p.name }}</h3>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="rubic-pattern bottom"></div>
  </div>
  <div class="mt-20">
    <div class="mx-auto w-4/5 flex justify-between">
      <div class="w-2/5 pr-4">
        <img src="{{ page.first_section.icon }}" alt="icon 1">
        <h4 class="text-left text-white mt-4">
          {{ page.first_section.title }}
        </h4>
        <p class="mt-6">
          {{ page.first_section.content }}
        </p>
      </div>
      <div class="w-3/5">
        <img src="{{ page.first_section.image }}" alt="first image wafwaf">
      </div>
    </div>
  </div>
  <div class="flex justify-between mt-32">
    <div class="w-2/5">
      <img src="{{ page.right_section.left_image }}" class="-ml-20" alt="left image">
    </div>
    <div class="w-3/5">
      <img src="{{ page.right_section.first_icon }}" alt="first icon">
      <h4 class="h3 text-left text-white mt-4">
        {{ page.right_section.first_title }}
      </h4>
      <p class="mt-6 w-1/2">
        {{ page.right_section.first_content }}
      </p>

      <img class="mt-6" src="{{ page.right_section.second_icon }}" alt="second icon">
      <h4 class="h3 text-left text-white mt-4">
        {{ page.right_section.second_title }}
      </h4>
      <p class="mt-6 w-1/2">
        {{ page.right_section.second_content }}
      </p>

      <a href="/contact" class="black-btn mt-12 block ml-0">BUĎ U TOHO</a>
    </div>
  </div>
</div>

{% include footer.html %}
