{% assign current_page = 'franchising' %}

{% include head.html %}

<div class="franchising-page">
  <div class="container">
    {% include nav.html %}
  </div>
  <div class="container pt-16 pb-24">
    <div class="mx-auto hero-custom-carousel flex items-center justify-center">
      <div class="overflow-hidden">
        <img src="{{ page.hero_image }}" alt="wafwaf hero" width="100%">
      </div>
    </div>
    <h1 class="h1 mt-12 mb-16 text-white">{{ page.big_title }}</h1>
  </div>
</div>

{% include footer.html %}
