{% assign current_page = 'franchising' %}
{% assign page_title = 'Franchise' %}

{% include head.html %}

<div class="franchising-page">
  <div class="container">
    {% include nav.html %}
  </div>
  <div class="container py-16">
    <div class="mx-auto hero-custom-carousel flex items-center justify-center">
      <div class="overflow-hidden">
        <img src="{{ page.hero_image }}" alt="wafwaf hero" width="100%">
      </div>
    </div>
    <h1 class="h1 mt-12 mb-16">{{ page.big_title }}</h1>
    <h2 class="w-4/5 mx-auto mt-48 mb-20 text-white subtitle h2">{{  page.subtitle }}</h2>
    <div class="">
      <div class="rubic-pattern top"></div>
      <div class="flex flex-wrap justify-between p-24 pb-48 bg-brown concept-box">
        {% for con in page.concept%}
          <div class="w-1/3">
            <img src="{{ con.icon }}" alt="concept-{{ forloop.index }}" style="height: 90px; width: auto;">
            <h3 class="mt-24 concept-title">{{ con.title }}</h3>
            <p class="mt-20 concept-description pr-20">{{ con.description }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="mx-24 -mt-48">
    <div class="rubic-pattern top"></div>
    <div class="bg-yellow-dark p-16">
      <h2 class="h2">{{ page.second_subtitle }}</h2>
    </div>
    <div class="rubic-pattern bottom"></div>
  </div>
  <div class="mt-48 mb-20">
    <h2 class="h2 franchising-subtitle">{{ page.third_subtitle }}</h2>
    <div class="flex flex-wrap justify-between mt-32">
      {% for store in page.stores %}
        <div class="w-1/4">
          <img src="{{ store.image }}" alt="{{ store.title }}" style="max-width: 398px;">
          <h3 class="store-title mt-10 text-center">{{ store.title }}</h3>
          <div class="store-description mt-10">
            {{ store.description | markdownify }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% for accordion in page.accordions %}
    <div class="mb-10">
      <div class="rubic-pattern top"></div>
      <div class="accordion accordion-{{ forloop.index }} flex flex-wrap justify-between items-center bg-yellow px-16 py-4">
        <div class="w-2/3 flex items-center justify-between">
          <div class="job-title text-pink">{{ accordion.title }}</div>
        </div>
        <div class="w-1/3 flex justify-end">
          <img class="open-accordion" src="/img/plus.svg" width="50" data-accordion="accordion-{{ forloop.index }}">
        </div>
        <div class="w-full job-description">
          <div class="w-1/2 mt-16 mb-12">
            {{ accordion.description }}
          </div>
        </div>
      </div>
      <div class="rubic-pattern bottom"></div>
    </div>
    {% endfor %}
    <div class="mb-10">
      <div class="rubic-pattern top"></div>
      <div class="bg-yellow-dark flex justify-between items-center py-8 px-16">
        <div class="w-1/5 relative">
          <div class="faq-title">{{ page.faq_title }}</div>
          <img class="absolute top-0 -right-24 w-24" src="/img/faq.svg" alt="faq" width="29">
        </div>
        <div class="w-3/5">
          <div class="swiper-container faq-carousel">
            <div class="swiper-wrapper">
              {% for f in page.faq %}
                <div class="swiper-slide">
                  <div class="faq-question">{{ f.question }}</div>
                  <div class="faq-answer">{{ f.answer }}</div>
                </div>
              {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
      <div class="rubic-pattern bottom"></div>
    </div>
</div>

<div class="relative bg-green pt-64 pb-24 -mt-48" style="z-index: -1;">
  {% include footer.html %}
</div>
