{% assign current_page = 'homepage' %}
{% assign page_title = 'Welcome' %}

{% include head.html %}

{% include nav.html %}

<div class="container pt-16 pb-12 sm:pb-24">
  <div class="mx-auto swiper-container custom-carousel hero-custom-carousel flex items-center justify-center">
    <div class="swiper-wrapper overflow-hidden">
      {% for image in page.hero_images %}
        <div class="swiper-slide">
          <img src="{{ image }}" alt="wafwaf hero {{ forloop.index }}" width="100%">
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <h1 class="h1 mt-2 sm:mt-12">{{ page.big_title }}</h1>
  <div class="after-title-section mb-16 sm:mt-12 sm:mt-24">
    <div  class="rubic-pattern top"></div>
    <div class="after-title-section-content">
      {{ page.subtitle }}
    </div>
    <div  class="rubic-pattern bottom"></div>
  </div>
<div class="latest-posts mt-12 sm:mt-20 mb-16 sm:mb-48 px-0">
  <div class="latest-posts-wrapper flex justify-between">
    {% for post in site.posts limit: 3 %}
      <div class="latest-posts-item w-full sm:w-1/3">
        <img src="{{ post.feature_image }}" alt="post.title">
        <h4 class="post-title mt-8 mb-6 sm:mb-12">{{ post.title }}</h4>
        <div class="post-content">{{ post.content }}</div>
        <a href="{{ post.url }}" class="rounded-outline-btn mt-6 block">ZJISTIT VIC</a>
      </div>
  {% endfor %}
  </div>
</div>
  <div class="showcase-group px-6 sm:px-0">
    <div class="flex sm:flex-wrap showcase-wrapper">
      {% assign delay = 275 %}
      {% for showcase in page.showcase_images %}
        {% assign index = forloop.index0 | modulo: 2 %}
        {% assign delay = delay | plus: 75 %}
        {% if index == 0 %}
          <div class="w-1/2 showcase-item sm:pr-16 sm:pb-16 reveal" data-delay="{{ delay }}">
            <img src="{{ showcase }}" alt="showcase {{ index }}" class="reveal-image">
          </div>
        {% else %}
          <div class="w-1/2 showcase-item sm:pl-16 sm:pb-16 reveal" data-delay="{{ delay }}">
            <img src="{{ showcase }}" alt="showcase {{ index }}" class="reveal-image">
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <h2 class="h2 mt-8 sm:mb-24  px-6 sm:px-0">{{ page.breakfast }}</h2>
  <div class="px-6 sm:px-0 mt-12 mb-8">
    <a href="/delivery" class="black-btn block">OBJEDNAT</a>
  </div>
  <div class="px-6 sm:px-0 w-full">
    <img src="{{ page.breakfast_image }}" width="100%" alt="wafwaf breakfast image" class="reveal-image">
  </div>
  {% include delivery.html %}
</div>

{% include instagram.html %}

{% include footer.html %}
