{% assign current_page = 'locations' %}
{% assign page_title = 'Naše pobočky' %}

{% include head.html %}

{% include nav.html %}

<div class="container pt-8 sm:pt-12 pb-24">
  <div class="mx-auto hero-custom-carousel flex items-center justify-center">
    <div class="overflow-hidden">
      <img src="{{ page.hero_image }}" alt="wafwaf hero" width="100%">
    </div>
  </div>
  <h1 class="h1 w-full reveal sm:mt-12 mb-8 sm:mb-16 text-green">{{ page.locations_title }}</h1>
  <div class="w-full reveal">
    <div class="rubic-pattern top"></div>
    <div class="bg-green relative z-0 flex items-center pt-12 pb-4 px-4 2xl:px-32 overflow-x-auto no-scrollbar">
      {% for location in page.locations %}
      {% if forloop.index == 1 %}
        <div class="change-location w-full px-4 sm:w-1/4 cursor-pointer change-location-active" data-location="{{ forloop.index }}">
      {% else %}
        <div class="change-location w-full px-4 sm:w-1/4 cursor-pointer" data-location="{{ forloop.index }}">
      {% endif %}
          <!-- <div> -->
            <img class="btn-zoom-in-out" src="{{ location.local_image }}" alt="{{ location.location_name }}" style="max-width: 260px; border-radius: 40px;">
            <h2 class="text-xl font-bold pt-4 w-full text-center">{{ location.location_name }}</h2>
          <!-- </div> -->
        </div>
      {% endfor %}
    </div>
    <div class="rubic-pattern bottom"></div>

    {% for l in page.locations %}
      {% if forloop.index == 1 %}
        <div class="location-section mx-8 mt-16 sm:mt-32 location-section-active" data-section="{{ forloop.index }}">
      {% else %}
        <div class="location-section mx-8 mt-16 sm:mt-32" data-section="{{ forloop.index }}">
      {% endif %}
      <div class="flex flex-wrap flex-col-reverse sm:flex-row justify-around">
        <div class="mt-12 w-full sm:mt-0 sm:w-1/2 sm:reveal overflow-hidden">
          <img class="img-border-radius" style="max-height: 800px;" src="{{ l.first_left_image }}" alt="left portrait" width="100%">
        </div>
        <div class="sm:w-1/4 location-info">
          <h2 class="h2 w-full reveal">{{ l.location_name }}</h2>
          <p class="mt-6 w-full reveal">{{ l.location_address }}</p>
          <p class="mt-6 w-full reveal">{{ l.location_contact }}</p>
          <p class="mt-16 w-full reveal">{{ l.location_description }}</p>
          <div class="mr-5 mt-12 p-4 w-full reveal">
            <a href="tel:{{ l.contact_number }}" class="block black-btn btn-zoom-in-out">Kontaktujte nas</a>
            <a href="{{ l.location_gmaps_url }}" class="block mt-10 rounded-outline-btn btn-zoom-in-out">jak se tam dostanu</a>
          </div>
        </div>
      </div>
      <div class="sm:flex flex-wrap justify-between mt-12 sm:mt-32">
        <div class="w-full sm:w-1/2 sm:flex flex-wrap justify-between">
          <div class="w-full sm:w-1/3 mr-auto sm:reveal">
            {{ l.first_column_above_image}}
          </div>
          <div class="w-full sm:w-1/3 mt-6 sm:mt-0 sm:reveal">
            {{ l.second_column_above_image}}
          </div>
          <div class="w-full my-6 sm:my-12 sm:reveal" style="max-height: 525px;">
            <img class="img-border-radius" src="{{l.image_left }}" width="100%" alt="left image">
          </div>
          <div class="w-full sm:w-1/3 ml-auto mb-6 sm:mb-0 sm:reveal">
            {{ l.third_column_under_image}}
          </div>
        </div>
        <div class="w-full sm:w-1/2 sm:pl-40 sm:reveal overflow-hidden " style="max-height: 960px;" >
          <img src="{{ l.image_right_portrait }}" class="img-border-radius" alt="portrait image" width="100%">
        </div>
      </div>
      <div class="flex flex-wrap flex-col-reverse sm:flex-row mt-12 sm:mt-32">
        <div class="w-full sm:w-1/2 mt-12 sm:mt-0 sm:reveal img-border-radius" style="max-height: 625px;">
          <img class="img-border-radius" src="{{ l.footer_image }}" alt="footer_image" width="100%">
        </div>
        <div class="sm:w-1/4 mx-auto">
          <p class="location-info w-full reveal">{{ l.footer_description }}</p>
          <div class="mt-6 sm:mt-12 flex justify-around items-center delivery-logos">
            {% if l.damejidlo %}
            <a target="_blank" href="{{ l.jidlo_url }}" class="reveal">
              <img class="img-center-mobile" src="/img/dj-logo.png" height="39" alt="dj delivery">
            </a>
            {% endif %}
            {% if l.wolt %}
            <a target="_blank" href="{{ l.wolt_url }}" class="reveal">
              <img class="img-center-mobile" src="/img/wolt-logo.png" height="39" alt="wolt delivery">
            </a>
            {% endif %}
            {% if l.boltfood %}
            {{ l.boltfood_url }}
            <a target="_blank" href="{{ l.boltfood_url }}" class="reveal">
              <img class="img-center-mobile" src="/img/bolt-food-logo.png" height="39" alt="boltfood delivery">
            </a>
            {% endif %}
          </div>
          <div class="mr-5 mt-12 w-full reveal p-4">
            <a href="tel:{{ l.contact_number }}" class="block black-btn btn-zoom-in-out">Kontaktujte nas</a>
            <a href="{{ l.location_gmaps_url }}" class="block mt-10 rounded-outline-btn btn-zoom-in-out">jak se tam dostanu</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% include footer.html %}
